

.caracters-header{
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Fira Code";
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

.caracters-header:before {
    content: "";
    background-color: #E21C11;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}


