#button-header {
    display: inline-block;
    background-color: #E21C11;
    padding: 18px 20px;
    box-shadow: 5px 5px 0  black;
    text-align: center;
    margin-right: 0px;
    transition: transform 100ms linear;
}

#button-header:hover {
    transform: scale(1.08);
    background-color: black;
    color: #E21C11;
  }