.mid-button{
    height: 60px;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Fira Code";
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    background-color: #E21C11;
    padding: 18px 20px;
    box-shadow: 5px 5px 0  black;
    text-align: center;
    margin-left: 181px;
    margin-top: 45px;
    transition: transform 100ms linear;
  }

  .mid-button:hover {
    transform: scale(1.08);
    background-color: black;
    color: #E21C11;
  }

  .mid-button2{
    width: 170px;
    height: 60px;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Fira Code";
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    background-color: #E21C11;
    padding: 18px 20px;
    box-shadow: 5px 5px 0  black;
    text-align: center;
    margin-left: 112px;
    margin-top: 45px;
    transition: transform 100ms linear;
  }

  .mid-button2:hover {
    transform: scale(1.08);
    background-color: black;
    color: #E21C11;
  }